# Synopsys DesignWare core and NXP i.MX8 Glue layer
CONFIG_STMMAC_ETH=y
CONFIG_STMMAC_PLATFORM=y
CONFIG_DWMAC_IMX8=y

# Link Management and PHY Layer
CONFIG_PCS_XPCS=y
CONFIG_PHYLINK=y

# Driver foundation dependencies (Must be =y so FEC can be =y)
CONFIG_MII=y

# Ethernet Core and standard NXP FEC port
CONFIG_FEC=y
